@use "../global" as g;

.about {
  margin: clamp(10rem, 18vw, 30rem) 0 clamp(5rem, 12vw, 20rem);
  cursor: default;
  &__inner {
    margin: 0 3%;
    position: relative;
  }
  &__content {
    padding-top: clamp(60px, 15vw, 110px);
    word-break: keep-all;
    position: relative;
    &:not(:last-child) {
      margin-bottom: clamp(80px, 18vw, 200px);
    }
    &__inner {
      display: flex;
    }
    &__title {
      width: 35%;
      font-size: 2vw;
      display: flex;
      align-items: center;
      height: fit-content;
      gap: 1vw;
      text-transform: uppercase;
      font-weight: 400;
      &::before {
        content: "";
        width: 1vw;
        aspect-ratio: 4 / 1;
        background: black;
        // border-radius: 50em;
        display: block;
      }
    }
    &__content {
      flex: 1;
      font-size: 2vw;
      line-height: 1.5;
      font-family: PPNeueMontreal;
      p {
        letter-spacing: 0.03em;
        span {
          font-weight: 600;
          font-family: PPNeueMontreal500;
        }
        &:not(:last-child) {
          margin-bottom: 2vw;
        }
      }
    }
    &__imgWrapper {
      left: 0;
      right: 0;
      width: 100%;
      position: relative;
      margin-block: clamp(60px, 15vw, 110px) clamp(80px, 19vw, 300px);

      display: flex;
      justify-content: space-between;
      padding: 0 8%;
      .image {
        position: relative;
        transform: translateY(100%);
        filter: grayscale(1);
        cursor: pointer;
        height: fit-content;
        &:nth-child(1) {
          top: 0%;
          max-width: 20vw;
        }
        &:nth-child(2) {
          top: 30%;
          max-width: 23vw;
        }
        &:nth-child(3) {
          top: 20%;
          max-width: 25vw;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
