@use "../global" as g;

#{g.$prefix_mod} {
  &Bp {
    &Pc {
      @include g.media_queries(pc) {
        display: inherit;
      }
      @include g.media_queries {
        display: none !important;
      }
    }
    &Tp {
      @include g.media_queries(pc) {
        display: inherit;
      }
      @media screen and (max-width: 1000px) {
        display: none !important;
      }
    }
    &Sp {
      @include g.media_queries(pc) {
        display: none !important;
      }
      @include g.media_queries {
        display: inherit;
      }
    }
  }
  &ContactFloat {
    position: fixed;
    bottom: 2vw;
    width: 150px;
    height: 150px;
    right: 2vw;
    z-index: 100;
    visibility: hidden;
    .video__container {
      width: 150px;
      height: 150px;
      position: relative;
      top: 0;
      left: 0;
    }
    svg {
      text {
        textPath {
          fill: var(--white);
          mix-blend-mode: difference;
        }
      }
    }
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-48%, -45%);
    }
  }
  &DemoDiv {
    height: 2000px;
    background: #000;
  }
  &SectionTitle {
    font-size: g.$h2;
    // letter-spacing: -0.05em;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    // font-family: g.$fontface_playfair;
    font-family: PPNeueMontreal500;
    font-weight: 600;
    display: flex;
    position: relative;
    overflow-Y: clip;
    span {
      &:nth-child(1) {
        color: #0000;
        -webkit-text-stroke-width: 0.2vw;
        -webkit-text-stroke-color: g.$base_text_color;
        font-weight: 500;
      }
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 100%;
      }
    }
  }
}
